In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore') #to filter warning messages

In [2]:
df=pd.read_csv('H_data.csv')
df.set_index("Time", inplace=True)
df.head()

,Wind speed,Generator speed,Blade angle,Wind direction,Ambient temperature,Active power
Time,,,,,,
1/1/2020 0:00,4.925817,10.938283,-0.769883,-337.491817,28.426233,191.225983
1/1/2020 1:00,5.592000,12.452083,-0.769833,-332.980200,28.103967,290.682000
1/1/2020 2:00,5.129100,11.393017,-0.769883,-334.400667,28.052650,217.358167
1/1/2020 3:00,4.320550,10.504867,-0.769733,-337.342867,27.942000,166.289250
1/1/2020 4:00,4.401067,10.000917,-0.769833,-352.839817,27.935250,143.285783

In [3]:
# Split data to features and target
from sklearn.model_selection import train_test_split
x=df.drop(['Active power'],axis=1)

# Feature scaling
from sklearn.preprocessing import StandardScaler
std_x=StandardScaler()
X=std_x.fit_transform(x)


y=df['Active power'].values.ravel()
#y=y.reshape(-1,1)


# Test Train split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=2)

In [4]:
from sklearn.neural_network import MLPRegressor
Model_MLP = MLPRegressor(hidden_layer_sizes=(100,100,100),activation="relu" ,solver="adam",learning_rate="constant",alpha=0.0001, max_iter=100)
Model_fit = Model_MLP.fit(x_train, y_train)

In [5]:
y_pred_MLP = Model_MLP.predict(x_test)
data_1 = pd.DataFrame({'Predicted value': y_pred_MLP, 'Real Value': y_test})
data_1.head(20)

    Predicted value   Real Value
0         -0.880755     1.540483
1        374.416664   364.438983
2       1294.511961  1326.903667
3        299.520520   309.168033
4       1206.969060  1161.968167
5          2.837955     0.000000
6        315.777513   314.727300
7        512.699345   492.090800
8       1316.173268  1306.816500
9        -20.308087     0.000000
10       157.075135   153.751817
11       362.001063   347.780250
12       324.244988   324.539867
13      1277.280152  1213.165500
14       159.995579   164.914900
15       606.503272   598.889800
16       308.968129   308.659683
17       794.156766   794.920133
18       420.632864   435.627483
19       211.110424   202.163350

In [6]:
from sklearn.metrics import accuracy_score,r2_score,mean_absolute_error, mean_squared_error

print('R2-score:',r2_score(y_test,y_pred_MLP))
print('RMSE:',np.sqrt(mean_squared_error(y_test,y_pred_MLP)))
print('MAE:',mean_absolute_error(y_test, y_pred_MLP))
print('MSE:',mean_squared_error(y_test, y_pred_MLP))

R2-score: 0.9979046864147207
RMSE: 18.45330208878431
MAE: 11.991101682587288
MSE: 340.52435797993127